<a href="https://colab.research.google.com/github/sushigva/Foundations-of-Data-Science-Repo/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [33]:
# code here
variable = 0
while variable <= 20:
  if variable % 2 == 0:
    print(variable)

 variable += 1

IndentationError: ignored

## For-Loops with Lists

In [23]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [20]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.

myist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
filter_list = [value for value in mylist if value >= 0]
for value in filter_list:
    print(value)

9
15
23
4
92
47
33
17
18
38

In [18]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
filter_list = [abs(value) if value < 0 else value for value in mylist]

for value in filter_list:
    print(value)

9
15
23
4
92
47
33
17
4
18
38
242

In [12]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
filter_list = [value for value in mylist if value <= 20 or value >= 40]
for value in filter_list:
    print(value)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [ ]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [14]:
# Write a command to print out all the keys of this dict

capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

for country in capitals.keys():
    print(country)

United States
Italy
England
Thailand
Brazil

In [15]:
# Write a command to print out all the values of this dict
for capital in capitals.values():
    print(capital)

Washington DC
Rome
London
Bangkok
Brasilia

In [16]:
# Write a command to print all the keys and values for this dict
for country, capital in capitals.items():
    print(f'Country: {country}, Capital: {capital}')

Country: United States, Capital: Washington DC
Country: Italy, Capital: Rome
Country: England, Capital: London
Country: Thailand, Capital: Bangkok
Country: Brazil, Capital: Brasilia

In [17]:
# Write a command to print only the first three values and NOTHING more.

for i, value in enumerate(capitals.values()):
    if i < 3:
        print(value)
    else:
        break

Washington DC
Rome
London