<a href="https://colab.research.google.com/github/sushigva/Foundations-of-Data-Science-Repo/blob/main/homework/week-7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [1]:
# Load pandas and the data
import pandas as pd

url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
df = pd.read_csv(url)

In [3]:
# show how many rows and columns are in this dataset
rows, cols = df.shape
print(f"Numb row: {rows}")
print(f"Numb col: {cols}")

Numb row: 25760
Numb col: 10

In [ ]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = df['duration'].str.replace('minutes', '').astype('int64')

In [4]:
# Now display the datatypes in the updated dataframe
print("\nData types in the updated dataframe:")
print(df.dtypes)

Data types in the updated dataframe:
duration           object
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [7]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min_duration = df['duration'].min()
max_duration = df['duration'].max()
print(f"\nMinimum ride duration: {min_duration} minutes")
print(f"Maximum ride duration: {max_duration} minutes")

Minimum ride duration: 1 minutes minutes
Maximum ride duration: 99 minutes minutes

In [39]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
import pandas as pd


df['duration'] = pd.to_numeric(df['duration'], errors='coerce') # I created this line to make it function with not number values
new_df = df.query('duration <= 60')


#I never ended up figuring out what went wrong from here, how do you use the .query method?
#The errors

In [40]:
# Now show both the min and max values of the duration column for your new dataset.
min_duration = new_df['duration'].min()
max_duration = new_df['duration'].max()
print(f"Minimum ride duration in the new dataset: {min_duration} minutes")
print(f"Maximum ride duration in the new dataset: {max_duration} minutes")

Minimum ride duration in the new dataset: nan minutes
Maximum ride duration in the new dataset: nan minutes

In [41]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
new_df = new_df.query('tire_size == 26')

In [43]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
#it didn't make sense from the earlier question